body{
	background-image: url(battleship-assets/background.jpg );
	background-position: center;
	background-size: cover;
	color: black;
}

.container {
	width: 80%;
	border-radius : 25px;
	color: #000000;
	background: url(./battleship-assets/containerbg.png);
	background-size: 100%;
	background-repeat: repeat-y;
	border-bottom: 7px black solid;
}

td, tr{
	border: 2px solid black;
	width: 100%;
}

.gap{
	height: 2cm;
}

hr {
	border: 1px solid black;
}

.gridRow{
	width: 30vw !important;
	height: 3vw;
	min-width:4.5cm;
	min-height: 0.45cm;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.gridCell{
	height: 3vw;
	width: 3vw;
	min-width:0.45cm;
	min-height: 0.45cm;
	border: 1px dotted darkblue;
	background-color: blue;
	border-radius : 10%;
	margin: 0;
	padding: 0;
	float: left;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}