body{
	background-image: url(battleship-assets/background.jpg );
	background-position: center;
	background-size: cover;
	color: black;
}

.container {
	width: 80%;
	border-radius : 25px;
	color: #000000;
	background: url(./battleship-assets/containerbg.png);
	background-size: 100%;
	background-repeat: repeat-y;
	border-bottom: 7px black solid;
}

td, tr{
	border: 2px solid black;
	width: 100%;
}

.gap{
	height: 2cm;
}

hr {
	border: 1px solid black;
}

.gridRow{
	width: 33vw !important;
	height: 3vw;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.gridRowHead{
	font-size: 1.2vw;
	width: 33vw !important;
	height: 3vw;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.smGridRow{
	width: 16.5vw !important;
	height: 1.5vw;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.smGridRowHead{
	font-size: 1.2vw;
	width: 16.5vw !important;
	height: 1.5vw;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.smGridCell{
	height: 1.5vw;
	width: 1.5vw;
	border: 1px dotted darkblue;
	background-color: MediumAquaMarine;
	border-radius : 10%;
	margin: 0;
	padding: 0;
	float: left;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.gridCell{
	height: 3vw;
	width: 3vw;
	border: 1px dotted darkblue;
	background-color: MediumAquaMarine;
	border-radius : 10%;
	margin: 0;
	padding: 0;
	float: left;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.headCell{
	font-size: 1.2vw;
	height: 3vw;
	width: 3vw;
	border-radius : 10%;
	margin: 0;
	padding: 0;
	float: left;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.smHeadCell{
	font-size: 1.2vw;
	height: 1.5vw;
	width: 1.5vw;
	border-radius : 10%;
	margin: 0;
	padding: 0;
	float: left;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#PName{
	color: blue;
}

.smShot{
	height: 1.5vw;
	width: 1.5vw;
	position: absolute;
}

.shot{
	height: 3vw;
	width: 3vw;
	position: absolute;
}
